/MScDataSets/
/FCM/ALL/
/FCM/HM_data_Out_centers.dat
/FCM/HM_data_Out.dat
/FCM/HM_data_No.dat
/FCM/HM_data.dat
/ArticleSummarizer/OTSApp/bin/
/ArticleSummarizer/OTSApp/obj/
/ArticleSummarizer/OpenTextSummarizer/OpenTextSummarizer/obj/
/ArticleSummarizer/OpenTextSummarizer/OpenTextSummarizer/bin/
/TextClustering/bin/
/TextClustering/obj/